@media (max-width: 1050px) {
  body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main{
    display: block;
  }
  .affichage{
    display: flex;
    flex-direction: column-reverse;
  }
  aside{
    background-color: white;
  }
  section{
    background-color: rgb(102, 127, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    /*border-top-right-radius: 10px;*/
    padding-bottom: 30px;
    
  }
  section article{
    margin-left: 5vh;
    margin-right: 5vh;
  }
  section p, a{
    margin-bottom: 20px;
  }
  section img{
    margin-top: 20px;;
    width: 35%;
    border-radius: 25px;;
  }
  aside img{
    width: 10%;
  }
  aside article{
    background-color: white;
    margin: 20px;
    color: rgb(139, 213, 255);
  }
}
@media (min-width: 1051px) {
  body{
    background: -webkit-linear-gradient(88deg, rgb(139, 213, 255), rgb(102, 127, 180));
    background: linear-gradient(88deg, rgb(139, 213, 255), rgb(102, 127, 180));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  main{
    display: block;
    width: 95%;
    height: 90vh;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1),
                -20px 0 20px rgba(0, 0, 0, 0.1),
                0 -20px 20px rgba(0, 0, 0, 0.1),
                20px 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .affichage{
    display: flex;
    height: 90vh;
  }
  aside{
    display: flex;
    background-color: #667fb4;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vh;
    padding-right: 10vh;
  }
  aside h3,p{
    color: white;
    padding-bottom: -10vh;
  }
  .infos{
    padding-right: 25vh;
  }
  section img{
    width: 60vh;
    position: relative;
    margin-left: -25vh;
    margin-right: 8vh;
    border-radius: 25px;
  
  }
  article img{
    width: 6vh;
    margin-right: 10px;
  }
  article img:hover{
    scale: 1.5;
  }
  section{
    display: flex;
    align-items: center;
  }
  .presentation{
    display: flex;
    flex-direction: column;
  }
  .presentation em{
    font-size: 24px;
    color: #667fb4;
    padding-bottom: 20px;
  }
  .presentation p{
    color: black;
  }
  #ts{
    width: 20vh;
    margin-bottom: 18vh;
  }
  section a{
    margin-top: 30px;
    border: #667fb4 2px solid;
    color: #667fb4;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
  }
  section a:hover{
    background-color: #667fb4;
    color: white;
    font-size: 150%;
  }
  
}
